.VinminDividerContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.VinminDividerLine {
  border: 1px solid black;
  width: 100%;
}

.VinminDividerDecorator {
  min-width: 10px;
  height: 10px;
  margin: 0px 1em;
  background-color: #000000;
  transform: rotate(45deg);
}
